/*Takács Dániel,2023-03-24,SZOFT I-2 N*/

.about {
    background-image: url("LoadingCat.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid black;
    border-radius: 5px;
    width:50%;
    height: 400px;
    text-align: center;
    margin-left: 25%;
    margin-top: 1%;
    padding-top: 150px;
    font-size:50px;
}

body{
    background-image: url("LoadingCat.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 2px 2px black;
}

.container {
    width: 50%;
    margin-left: 25%;
}

h1{
    font-size: 39px;
}